@use "@material/button";
@use "@material/typography/mdc-typography";

:root {
    --mdc-theme-primary: #a32db3;
    --mdc-theme-secondary: #8ff5c6;
}

.control-button {
    //@include icon-size(100);
}

.box-selected {
    background-color: #a32db3;
}

.box-disabled {
    background-color: #101112;
}

.box-available {
    background-color: #8ff5c6;
}