@use "@material/typography/mdc-typography";
@use "@material/card";
@use "@material/button";
@use "@material/fab";
@use "@material/icon-button";
@use "@material/slider";
@use "@material/snackbar/mdc-snackbar";
@use "@material/ripple";

@import "@material/layout-grid/mdc-layout-grid";

@include card.core-styles;
@include button.core-styles;
@include fab.core-styles;
@include icon-button.core-styles;
@include slider.core-styles;

:root {
    --mdc-theme-primary: #5a1077;
    --mdc-theme-secondary: #288c78;
}

//.control-button {
//    //@include icon-size(100);
//}

.box-available {
    background-color: #5a1077;
}

.box-disabled {
    background-color: #909090;
}

.box-selected {
    background-color: #288c78;
}

.mdc-layout-grid__inner .mdc-layout-grid__inner .mdc-layout-grid__inner {       
    grid-gap: 0px;                                                                
}

.box-button-start {
    position: fixed;
    bottom: 20;
    left: 50%;
    transform: translateX(-50%);
}

.move-button-ready {
    position: fixed;
    bottom: 20;
    left: 50%;
    transform: translateX(-50%);
}

.move-button-cancel {
    position: fixed;
    top: 20;
    right: 20;
}

.roll-button-start {
    position: fixed;
    bottom: 20;
    left: 50%;
    transform: translateX(-50%);
}

.congrats-button-restart {
    position: fixed;
    bottom: 20;
    left: 50%;
    transform: translateX(-50%);
}

.mdc-layout-grid__cell {
    cursor: pointer;
}

.box-card-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}