@use "@material/typography/mdc-typography";
@use "@material/card";
@use "@material/button";
@use "@material/fab";
@use "@material/icon-button";
@use "@material/slider";
@use "@material/snackbar/mdc-snackbar";
@use "@material/ripple";

@import "@material/layout-grid/mdc-layout-grid";

@include card.core-styles;
@include button.core-styles;
@include fab.core-styles;
@include icon-button.core-styles;
@include slider.core-styles;

:root {
    --mdc-theme-primary: #5a1077;
    --mdc-theme-secondary: #288c78;
}

//@fab.shape-radius(1);

//.control-button {
//    //@include icon-size(100);
//}

.box-available {
    background-color: #5a1077;
    
}

.box-disabled {
    //background-color: #909090;
    opacity: 0.3;
}

.box-selected {
    box-shadow: 0px 0px 9px 4px rgba(10,11,12,0.2);
    border-style: solid;
    border-color:#288c78;
    border-width:2px;
    //background-color: #288c78;
}

.mdc-layout-grid__inner .mdc-layout-grid__inner .mdc-layout-grid__inner {       
    grid-gap: 0px;                                                                
}

.box-button-start {
    position: fixed;
    bottom: 20;
    left: 50%;
    transform: translateX(-50%);
    //border-radius: 15px;
}

.move-button-ready {
    position: fixed;
    bottom: 20;
    left: 50%;
    transform: translateX(-50%);
}

.move-button-cancel {
    position: fixed;
    top: 20;
    right: 20;
    background-color:white;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.move-button-cancel-icon{
color:#0a0b0c;

}

.roll-button-start {
    position: fixed;
    bottom: 20;
    left: 50%;
    transform: translateX(-50%);
}

.congrats-button-restart {
    position: fixed;
    bottom: 20;
    left: 50%;
    transform: translateX(-50%);
}

.mdc-layout-grid__cell {
    cursor: pointer;
}

.box-card-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

//S@media (min-width: 840px) 
.section-headline {
    margin-top: 50px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 10px;
}

.section-subline
{
    padding-left: 16px;
    padding-right: 16px;
    margin-top:14px;
}

.control-area {
    margin-top: 10px;
    margin-left: 16px;
    margin-right: 16px;
}

.control-container {
    width: 50%;
}

.control-illu {    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.control-illu-img {
    width: 70px;
}

.roll-illu {    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.roll-illu-img {
    width: 160px;
}

.option-pickup {
    margin-top: 80px;
    margin-left: 16px;
    margin-right: 16px;
}

.congrats {
    text-align: center;
}

.bottom-spaceholer {
    min-height: 100px;
}