:root {
  --mdc-theme-primary: #5a1077;
  --mdc-theme-secondary: #288c78;
  --tor-theme-primary-light: #8a41a7;
  --tor-theme-primary-dark: #2c004a;
  --tor-body-margin: 8px;
  --tor-content-padding: 16px;
}

.tor-no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tor-no-select:focus {
  outline: none !important;
}

.tor-bottom-spaceholer-single-btn {
  min-height: calc(48px + 36px + 16px);
}

.tor-bottom-spaceholer-double-btn {
  min-height: calc(108px + 36px + 16px);
}

/* text */

.tor-section-headline {
  font-size: 34px;
  line-height: 44px;
  margin-bottom: 10px;
  margin-top: 50px;
  padding-left: 16px;
  padding-right: 16px;
}

.tor-section-subline {
  font-size: 20px;
  line-height: 26px;
  font-weight: normal;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 14px;
}

/* boxes */

.mdc-card {
  background-position: center;
  transition: transform 0.6s ease;
}

.tor-box-available {
  background-color: var(--mdc-theme-primary);
}

.tor-box-disabled {
  opacity: 0.3;
}

.tor-box-selected {
  box-shadow: 0px 0px 9px 4px rgba(10, 11, 12, 0.2);
  border-style: solid;
  border-color: var(--tor-theme-primary-light);
  border-width: 2px;
  transform: scale(1.04);
}

.mdc-layout-grid__inner .mdc-layout-grid__inner .mdc-layout-grid__inner {
  grid-gap: 0px;
}

.mdc-layout-grid__cell {
  cursor: pointer;
}

/* buttons */

.tor-btn-single {
  position: fixed;
  bottom: 48px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 2*var(--tor-body-margin) - 2*var(--tor-content-padding) - 16px);
}

.tor-btn-first {
  position: fixed;
  bottom: 48px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 2*var(--tor-body-margin) - 2*var(--tor-content-padding) - 16px);
}

.tor-btn-second {
  position: fixed;
  bottom: 108px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 2*var(--tor-body-margin) - 2*var(--tor-content-padding) - 16px);
}

.tor-move-button-cancel {
  position: fixed;
  top: 20;
  right: 20;
  background-color: white;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.tor-move-button-cancel-icon {
  color: #0a0b0c;
}

/* illustrations */

.tor-illu {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tor-illu>img {
  max-width: 75%;
  min-width: 65%;
}

.tor-illu-safety {
  margin-top: 70px;
}

.tor-illu-control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.tor-illu-control>img {
  max-width: 75%;
  min-width: 50%;
}

.tor-illu-result {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.tor-illu-result>img {
  width: 160px;
}

/* move controls */

.tor-control-area {
  margin-top: 10px;
  margin-left: 16px;
  margin-right: 16px;
}

.tor-control-container {
  width: 50%;
  color: var(--mdc-theme-primary);
}

.tor-control-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tor-control-button-left {
  transform: rotate(-90deg);
}

.tor-control-button-right {
  transform: rotate(90deg);
}

.mdc-icon-button {
  padding: 5px;
  font-size: 36px;
}

/* congrats */

.tor-congrats {
  padding-left: 16px;
  padding-left: 16px;
  white-space: pre-line;
  text-align: center;
}
