:root {
  --mdc-theme-primary: #5a1077;
  --mdc-theme-secondary: #288c78;
}

.tor-noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tor-noSelect:focus {
  outline: none !important;
}

.mdc-card {
  background-position: center;
  transition: transform 0.6s ease;
}

.box-available {
  background-color: var(--mdc-theme-primary);
}

.box-disabled {
  opacity: 0.3;
}

.box-selected {
  box-shadow: 0px 0px 9px 4px rgba(10, 11, 12, 0.2);
  border-style: solid;
  border-color: var(--mdc-theme-primary);
  border-width: 2px;
  transform: scale(1.04);
}

.mdc-layout-grid__inner .mdc-layout-grid__inner .mdc-layout-grid__inner {
  grid-gap: 0px;
}

.tor-btn-single {
  position: fixed;
  bottom: 20;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}

.tor-btn-first {
  position: fixed;
  bottom: 20;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}

.tor-btn-second {
  position: fixed;
  bottom: 90;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}

.tor-illu {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-button-start {
  position: fixed;
  bottom: 20;
  left: 50%;
  transform: translateX(-50%);
}

.move-button-ready {
  position: fixed;
  bottom: 20;
  left: 50%;
  transform: translateX(-50%);
}

.move-button-cancel {
  position: fixed;
  top: 20;
  right: 20;
  background-color: white;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.move-button-cancel-icon {
  color: #0a0b0c;
}

.roll-button-start {
  position: fixed;
  bottom: 20;
  left: 50%;
  transform: translateX(-50%);
}

.congrats-button-restart {
  position: fixed;
  bottom: 20;
  left: 50%;
  transform: translateX(-50%);
}

.mdc-layout-grid__cell {
  cursor: pointer;
}

.box-card-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-headline {
  margin-top: 50px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 10px;
}

.section-subline {
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 14px;
}

.control-area {
  margin-top: 10px;
  margin-left: 16px;
  margin-right: 16px;
}

.control-container {
  width: 50%;
}

.control-illu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.control-illu-img {
  width: 70px;
}

.option-pickup {
  margin-top: 80px;
  margin-left: 16px;
  margin-right: 16px;
}

.congrats {
  white-space: pre-line;
  text-align: center;
}

.bottom-spaceholer {
  min-height: 100px;
}