:root {
  --mdc-theme-primary: #5a1077;
  --mdc-theme-secondary: #288c78;
}

.tor-noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tor-noSelect:focus {
  outline: none !important;
}

.tor-bottom-spaceholer {
  min-height: 100px;
}

/* text */

.tor-section-headline {
  margin-top: 50px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 10px;
}

.tor-section-subline {
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 14px;
  font-weight: normal;
  font-size: 0.9em;
}

/* boxes */

.mdc-card {
  background-position: center;
  transition: transform 0.6s ease;
}

.tor-box-available {
  background-color: var(--mdc-theme-primary);
}

.tor-box-disabled {
  opacity: 0.3;
}

.tor-box-selected {
  box-shadow: 0px 0px 9px 4px rgba(10, 11, 12, 0.2);
  border-style: solid;
  border-color: var(--mdc-theme-primary);
  border-width: 2px;
  transform: scale(1.04);
}

.mdc-layout-grid__inner .mdc-layout-grid__inner .mdc-layout-grid__inner {
  grid-gap: 0px;
}

.mdc-layout-grid__cell {
  cursor: pointer;
}

/* buttons */

.tor-btn-single {
  position: fixed;
  bottom: 20;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 42px;
}

.tor-btn-first {
  position: fixed;
  bottom: 20;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 42px;
}

.tor-btn-second {
  position: fixed;
  bottom: 90;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 42px;
}

.tor-move-button-cancel {
  position: fixed;
  top: 20;
  right: 20;
  background-color: white;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.tor-move-button-cancel-icon {
  color: #0a0b0c;
}

/* illustrations */

.tor-illu {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tor-illu > img {
  max-width: 75%;
  min-width: 65%;
}

.tor-illu-control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

/* move controls */

.tor-control-area {
  margin-top: 10px;
  margin-left: 16px;
  margin-right: 16px;
}

.tor-control-container {
  width: 50%;
}

/* congrats */

.tor-congrats {
  white-space: pre-line;
  text-align: center;
}


/* remove this classes */

.control-illu-img {
  width: 70px;
}

.option-pickup {
  margin-top: 80px;
  margin-left: 16px;
  margin-right: 16px;
}